:root {
  --fb-primary: #98AFFF;
  --fb-offwhite: #FFF1E3;
  --fb-white: #fdfdfdc5;

  --fb-header-0: 48px;
  --fb-header-1: 36px;
  --fb-header-2: 32px;
  --fb-header-3: 24px;
  --fb-header-4: 20px;

  --fb-body: 16px;
  --fb-span: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: 'DM Sans', sans-serif;
  font-size: var(--fb-body);
}

h1 {
  font-size: var(--fb-header-1);
  font-family: 'DM Serif Display';
}

header {
  padding: 0 2rem 2rem;

  & > h1 {
    display: inline-block;
    border-bottom: 2px solid var(--fb-primary);
  }
}

section {
  margin: 2rem 0;
}